h1{
  margin-top: 0;
  font-size: 60px;
  font-family: 'Sacramento', cursive;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-size: 20px;
}

.drawings{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.avatar{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.code{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: teal;
}

.top-container{
  position:relative;
  padding-top:100px;
  background-color: #DFF6FF;
  color: green;
}
.middle-container{
  background-color: #DFF6FF;
}

.bottom-container{
  background-color: #DFF6FF;

}

.cloud1{
  position: absolute;
  right:300px;
  top:50px;
}

.cloud2{
  position: absolute;
  left:300px;
  bottom:300px;
}

.mountain{
  position: relative;
}

.dev{
  text-decoration: underline;
}
